.option{
    background-color: white;
    border-radius: 0.3rem;
    font-size: 1rem;
    padding: 0.3rem;
    font-weight: 450;
    margin: 0.2rem 0;
    border: none;
    transition: all 0.5s ease;
}
.selected{  
    background: #FFC600;
    text-decoration: underline;
}
.container{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0.3rem 0;
}