*{
    transition: all ease 0.3s;
}
.input{
    flex-grow: 2;
    border-radius: 0.5rem;
    font-size: 1.2rem; 
    padding: 0.3rem 0.5rem;
    outline: none;
    border: none;
}
.input::-webkit-calendar-picker-indicator{
    color: transparent;
    /*hides the datalist arrow*/
}
.allergenInputContainer{
    display: flex;
    width: 100%;
}
.btn{
    margin-left: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #FFC600;
    padding: 0.5rem;
    display: flex;
}
.btn img{
    filter: invert(100%) sepia(18%) saturate(2206%) hue-rotate(180deg) brightness(99%) contrast(108%);
}
.allergenBtn{
    font-size: 1rem;
    margin-top: 0.5rem;
    padding: 0.3rem;
    border: none;
    border-radius: 0.5rem;
    background: #FFC600;
    color: #FDFDFF;
    margin-right: 0.5rem;
}
.displayDiv{
    max-width: 19rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/*Hover styling */
.btn:hover,
.input:hover, 
.allergenInput:hover,
.allergenBtn:hover{
    box-shadow: 0px 0px 5px #101820;
}
.h3{
    font-size: 1rem;
    font-weight: 500;
    color: #FDFDFF;
}