*{
    transition: all ease 0.5s;
}
.ageContainer,
.genderContainer{
    display: flex;
    flex-direction: column;
}
.input{
    width: 100%;
    border-radius: 0.5rem;
    font-size: 1.2rem; 
    padding: 0.3rem 0.5rem;
    outline: none;
    border: none;
    appearance: inherit;
    -moz-appearance: textfield;
}
.mainContainer{
    display: flex;
    flex-direction: column;
}
.h3{
    display: block;
    font-size: 1.17em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
/* Chrome, Safari, Edge, Opera */
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input:hover{
    box-shadow: 0px 0px 5px #101820;
}