.ageContainer{
    margin-left: 0.5rem;
}

.ageContainer,
.genderContainer{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.ageContainer input{
    border-radius: 0.5rem;
    padding: 0;
    padding-left: 1rem;
}
.genderAgeContainer{
    display: flex;
}
