.goalActiFacContainer{
    display: flex;
}
.goalContainer,
.actiFacContainer{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.goalContainer{
    margin-right: 0.5rem;
}

.h3{
    font-size: 1rem;
    font-weight: 500;
}