.back{
    display: flex;
    user-select: none;
    cursor: pointer;
    transition: all ease 0.3s;
    text-decoration: none;
    color: rgb(154 158 167);
    width: 100%;
}
.motherDiv{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.backIcon{
    width: 1rem;
    filter: invert(72%) sepia(13%) saturate(189%) hue-rotate(184deg) brightness(87%) contrast(83%);
}
.back:hover{
    text-decoration: underline;
}
.h1{
    font-size: 2rem;
    width: 100%;
    user-select: none;
}
.p{
    margin-top: 3rem;
    color: rgb(146 150 154);
}
.inlineLink{
    text-decoration: none;
    color: #FFC600;
}
.error{
    color: white;
}
.h3{
    color: white;
    font-weight: 300;
    font-size: 1rem;
}
.input:focus{
    outline: none;
}
.form{
    display: flex;
    flex-direction: column;
    user-select: none;
    width: 100%;
    /* margin: 1rem; */
}
.showPassword{
    position: absolute;
    align-items: center;
    bottom: 0.75rem;
    right: 1rem;
}
.showPassword img{
    width: 1.2rem;
    cursor: pointer;
}

.formBtn{
    border-radius: 0.5rem;
    padding: 0.2rem;
    font-size: 1.5rem;
    border: none;
    background-color: #101820;
    color: #FDFDFF;
    box-shadow: 0px 0px 4px #101820 ;
    user-select: none;
    width: 100%;
    cursor: pointer;
    transition: all ease 0.3s;
}

.inputContainer{
    margin: 0.3rem;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    transition: all ease 0.3s;
    
}
.input{
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    font-size: 1.2rem; 
    padding: 0.3rem 0.5rem;
    outline: none;
    border: none;
    transition: all ease 0.3s;
    background-color: rgb(34 35 39);
    color: white;
}
.labelContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.error{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    max-width: 100%;
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 100%;
    text-align: center;
    transition: all ease 0.3s;

}
form{
    align-items: center;
}
.logo{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}
.title{
    font-size: 1.2rem;
    color: rgb(214 225 255);
    text-decoration: none;
    font-weight: 300;
}
@media  screen and (min-width: 720px) and (orientation: landscape){ 
    .motherDiv{
        width: 70%;
    }
}

/*hover styling*/
.formBtn:hover{
    box-shadow: 0px 0px 8px #101820 ;
    outline: none;
}
.input:focus{
    box-shadow: 0px 0px 2px #101820 inset;
}
.formBtn:focus{
    outline: none;
    box-shadow: 0px 0px 8px #FDFDFF
}
