.back{
    display: flex;
    user-select: none;
    cursor: pointer;
    transition: all ease 0.3s;
    text-decoration: none;
    color: #101820;
}
.motherDiv{
    width: 30%;
}
.backIcon{
    width: 1rem;
}
.back:hover{
    text-decoration: underline;
}
.h1{
    font-size: 2rem;
    width: 100%;
    user-select: none;
}
.input:focus{
    outline: none;
}
.form{
    display: flex;
    flex-direction: column;
    user-select: none;
    width: 100%;
    /* margin: 1rem; */
}
.showPassword{
    position: absolute;
    align-items: center;
    bottom: 0.75rem;
    right: 1rem;
}
.showPassword img{
    width: 1.2rem;
}
.formBtn{
    border-radius: 0.5rem;
    padding: 0.2rem;
    font-size: 1.5rem;
    border: none;
    background-color: #101820;
    color: #FDFDFF;
    box-shadow: 0px 0px 4px #101820 ;
    user-select: none;
    width: 100%;
    cursor: pointer;
    transition: all ease 0.3s;
}

.inputContainer{
    margin: 0.3rem;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    transition: all ease 0.3s;
}
.input{
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    font-size: 1.2rem; 
    padding: 0.3rem 0.5rem;
    outline: none;
    border: none;
    transition: all ease 0.3s;
}
.labelContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.error{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    max-width: 100%;
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 100%;
    text-align: center;
    transition: all ease 0.3s;

}
form{
    align-items: center;
}
.title{
    text-decoration: underline;
}
/*hover styling*/
.formBtn:hover{
    box-shadow: 0px 0px 8px #101820 ;
    outline: none;
}
.input:focus{
    box-shadow: 0px 0px 2px #101820 inset;
}
.formBtn:focus{
    outline: none;
    box-shadow: 0px 0px 8px #FDFDFF
}
