
.motherDiv{
    width: 100%;
    height: 100%;
    padding: 1.2rem;
}

.mainContainer {
    width: 100%;
    height: 90%;
    border-radius: 1.2rem;
    border:none;
    background: #FFC600;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    padding: 3rem 10rem;
    /*animation*/
    position: relative;
    background-size: 12px;
}
.title{
    font-size: 3rem;
    color: white;
}
.inlineTxtBtns{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.btnsDiv{
  display: flex;
}
.mainTxt{
  font-size: 1rem;
  color: white;
}

.trailer, .try{
  border-radius: 100px;
  border: none;
  font-size: 1.2rem;
  color: white;
  text-decoration:none;
  box-shadow: rgba(54, 92, 251, 0.08) 0px 1px 2px 0px, rgba(255, 255, 255, 0.4) 0px 0px 6px 0px inset;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
}
.try{
  background-color: black;
  box-shadow: rgba(6, 12, 33, 0.2) 0px 8px 16px 0px, rgba(255, 255, 255, 0.4) 0px 0px 6px 0px inset;
}
/*Advantage section styling*/
.advImg{
  width: 12rem;
  margin: 0 0.5rem;
  border-radius: 0.3rem;
}
.inlineAdvantageImgs{
  display: flex;
  /* padding: 0 2rem; */
  justify-content: space-around;
  flex-direction: row;
}
.advantageDiv{
  box-shadow: rgba(54, 92, 251, 0.08) 0px 1px 2px 0px, rgba(255, 255, 255, 0.4) 0px 0px 6px 0px inset;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 24px;
}
.mainAdvantageDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 15rem;
}
.advTitle, .advText, .mainAdvTitle, .mainAdvText{
  color: white;
}
.mainAdvTitle{
  font-size: 3rem;
}
.advText, .mainAdvText{
  color: rgba(255, 255, 255, 0.72);
}
/*styling for mobile devices */
@media (max-width: 768px) {
  .mainContainer{
    padding: 1rem;
  }
  .advImg{
    width: 1rem;
  }
}
