/* .hiden{
    display: none;
}
.navbar{
    display: none;
}
li{
list-style-type: none;
}
ul{
    padding: 0;
}
.navbar ul li a{
    text-decoration: underline;
    flex-grow: 2;
    text-align: center;
    color: #FFC600;
    font-size: 1.2rem;
}
.prevent-select {
    -webkit-user-select: none; /* Safari */
    /*-ms-user-select: none; /* IE 10 and IE 11 */
    /*user-select: none; /* Standard syntax 
}
/*MEDIA QUERIES:*/
/*@media  screen and (min-width: 720px) and (orientation: landscape){
    .imgContainer{
        width: fit-content;
    }
    .navbar{
        background-color: #101820;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    .container{
        display: flex;
        padding: 0.3rem;
        align-items: center;
        padding-left: 1.5rem;
    }
    .phoneNavBar{
        display: none;
    }
    .hiden{
        display: block;
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
        background-color: #101820;
        height: fit-content;
    }
    .hiden ul{
        display: flex;
        padding: 0.3rem;
        align-items: center;
    }
    .nutrifyLogo{
        width: 3rem;
        filter: invert(68%) sepia(66%) saturate(904%) hue-rotate(360deg) brightness(106%) contrast(105%);
    }
    li{
        height: fit-content;
    }
    .linkContainer{
        display: flex;
        flex-grow: 2;
    }
    .prevent-select{
        margin-left: 3rem;
        color: #FFC600;
    }
}

.phoneNavBar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #101820;
    padding: 0.5rem;
}
.phoneNavBar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.iconBtn img{
    width: 3rem;
    filter: invert(68%) sepia(66%) saturate(904%) hue-rotate(360deg) brightness(106%) contrast(105%);
}
.iconBtn{
    background-color: transparent;
    border: none;
} */

.navbar{
    position: absolute;
    width: 100%;
}